<!-- <!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Paypal Node</title>
	</head>
	<body>
		<form
			action="http://localhost:5000/api/v1/pay/618fd47ef511f2782ce79f8f"
			method="post"
		>
			<input type="submit" value="Buy" />
		</form>
	</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Paypal Node</title>
	</head>
	<body>
		<form action="http://localhost:5000/api/v1/pay/" method="post">
			<input type="submit" value="Buy" />
		</form>
	</body>
</html>
