<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ĐIỆN THOẠI GIÁ RẺ</title>

		<style>
			.dienthoai {
				width: 178px;
				height: auto;
				float: left;
				border: 1px solid #ffffff;
				border-radius: 5px;
				margin-top: 20px;
				overflow: hidden;
			}
			.dienthoai img {
				padding-left: 20px;
				padding-top: 20px;
				width: 140px;
				height: 140px;
			}
			.dienthoai p {
				text-align: center;
				margin-top: 5px;
				height: 40px;
			}
			.dienthoai h4 {
				color: red;
				font-size: 16px;
				text-align: center;
				margin-top: 10px;
			}
			.button {
				width: 100%;
				height: auto;
				margin: auto;
				padding-top: 5px;
				text-align: center;
			}
		</style>
	</head>

	<body>
		<div class="dienthoai">
			<h1>
				<img
					src="https://cdn.tgdd.vn/Products/Images/42/50920/dien-thoai-di-dong-apple-iphone-4S-dienmay.com-b.jpg"
				/>
			</h1>
			<p>Iphone 4s</p>
			<h4>25.00 USD</h4>
			<div class="button">
				<form
					action="http://localhost:5000/api/v1/pay/61b6e1d111dd8ac11257f20f"
					method="post"
					target="_blank"
				>
					<input type="submit" value="Buy" />
				</form>
			</div>
		</div>
	</body>
</html>
